{% extends 'base.html' %}

{% block content %}
  <main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django APP</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus id repellendus dolore modi quae reprehenderit facere ratione iusto harum, necessitatibus tenetur nisi voluptate. Quae neque adipisci similique repudiandae eveniet hic blanditiis inventore deserunt veritatis, optio dignissimos distinctio soluta velit expedita rem dicta, excepturi atque quisquam assumenda culpa architecto maxime sequi dolor. Enim deleniti facilis quaerat id distinctio, delectus debitis ipsa eligendi laudantium laboriosam repellat quas harum possimus sequi dignissimos quod, officia, est quis non omnis. Tempore inventore sint culpa. Culpa totam est veritatis perferendis doloribus necessitatibus quasi suscipit dolore. Sint culpa quisquam nobis earum recusandae ipsam amet in quasi exercitationem?
        </p>
        <div class="text-center">
            <a class="btn btn-primary" href="/signin">Signin</a>
            <a class="btn btn-primary" href="/signup">Signup</a>
        </div>
    </section>
  </main>  
    
   
{% endblock %}