{% extends 'base.html' %}

{% block content %}

<main class="container">
    {{error}}
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <form action="/signup/" method="POST" class="card card-body text-center">
                {% csrf_token %}
                <h1>Signup</h1>
                {{form.as_table}}
                <div class="text-center">
                    <button class="btn btn-primary">
                        Signup
                    </button>
                </div>
                
            </form>
        </div>
    </div>
</main>



{% endblock %}
